/* ===============================
   Banner & Hero Section
   =============================== */
/* Make banner span entire browser width */
.page__hero,
.page__hero--overlay {
  position: fixed;
  width: 100%;                        /* full viewport width */
  min-height: 220px;                  /* controls vertical height */
  background-size: cover;           /* fit entire image, no zoom */ 
  background-position: top center;  /* appears at the top of the page, without top, banner is in the middle of the page*/ 
  z-index: 1;
}

.page__hero {
  margin-bottom: 2rem;
}


/* =============================== */
.sidebar {
position: fixed;
padding-top: 490px !important; /* pushes text below avatar */
padding-bottom: 6rem !important;
z-index: 10 !important;
}

/* ===============================
  Avatar fixed below banner
  =============================== */
.sidebar .author__avatar {
position: fixed !important;
top: 260px !important; /* below banner */
z-index: 20 !important;
}

/* ===============================
  Content offset
  =============================== */
.page__content {
position: relative;
margin-top: 235px !important;   /* below banner */
padding: 0 1rem;
padding-bottom: 6rem;           /* room before footer */
z-index: 5;
}


/* Optional: change section or post titles */
.archive__item-title,
.page__title {
color: #777;
}

/* ===============================
  Footer (smaller + no overlap)
  =============================== */
.page__footer {
position: relative !important;
bottom: auto !important;
clear: both;                /* ensures it stays below floated elements */
margin-top: 2rem !important;
padding-top: 0.5rem !important;
padding-bottom: 0.5rem !important;
background-color: #f5f5f5;
font-size: 1rem;
z-index: 1;
text-align: left;     /* force text to align left */
}
